@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fonte-h1: "Josefin Sans", sans-serif;
    --fonte-2: "Josefin Sans", sans-serif;
}

body {
    background-color: rgb(7, 1, 1);
    background-image: url(./imagem/ChatGPT\ Image\ 5\ de\ abr.\ de\ 2025\,\ 20_58_28.png);
    background-color: rgba(0, 0, 0, 0.26);
    background-size: cover;
    background-attachment: fixed; /* Essa linha foi adicionada para corrigir o problema */
    background-position: center;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: 100px auto;
    padding: 0 15px;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.projeto {
    border: 1px solid rgba(145, 143, 146, 0.521);
    border-radius: 5px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.603);
    background-blend-mode: darken;
    box-shadow: -1px -1px 15px rgba(7, 163, 150, 0.295);
}

h1 {
    width: 100%;
    color: #FFFFFF;
    text-shadow: 0 0 5px #00C8E6, 0 0 10px #0088CC;
    font-family: var(--fonte-h1);
    margin-bottom: 20px;
}

h2 {
    color: #FFFFFF;
    text-shadow: 0 0 5px #00C8E6, 0 0 10px #0088CC;
    font-family: var(--fonte-h1);
    text-align: center;
    padding: 20px;
}

.github, .instagram, .linkedin, .discord, .facebook {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s ease;
}

.github:hover, .instagram:hover, .linkedin:hover, .discord:hover, .facebook:hover {
    transform: scale(1.1);
}

.github p, .instagram p, .linkedin p, .discord p, .facebook p {
    color: white;
    font-family: var(--fonte-2);
    margin-top: 10px;
    font-size: 1rem;
}

.github:hover p, .instagram:hover p, .linkedin:hover p, .discord:hover p, .facebook:hover p {
    font-weight: 400;
    text-shadow: 0 0 5px #00C8E6, 0 0 10px #0088CC;
}

footer {
    text-align: center;
    padding: 30px;
    margin: 50px 0;
    color: #f0ecec;
    font-family: var(--fonte-h1);
    font-size: 1.1em;
    text-shadow: 0 0 5px #00c7e6a9, 0 0 10px #0088ccb7;
}

/* Media query para telas menores (celulares) */
@media (max-width: 600px) {
    main {
        margin-top: 50px;
        padding: 0 10px;
    }
    
    .projeto {
        flex-direction: column;
        padding: 30px 20px;
        gap: 20px;
    }
    
    h1 {
        font-size: 1.8em;
        margin-bottom: 15px;
    }

    footer {
        font-size: 0.9em;
        margin: 30px 0;
    }
}